* {
  padding: 0;
  margin: 0;
  outline: none !important; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

@font-face {
  font-family: "exo-thin";
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/Exo2-0-Thin/Exo2-0-Thin.eot");
  src: url("../fonts/Exo2-0-Thin/Exo2-0-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Exo2-0-Thin/Exo2-0-Thin.woff") format("woff"), url("../fonts/Exo2-0-Thin/Exo2-0-Thin.ttf") format("truetype"); }

body {
  font-family: "Trebuchet MS", Tahoma, sans-serif;
  color: #000; }

h1 {
  font-family: 'exo-thin', sans-serif;
  font-size: 36px;
  font-weight: 100;
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 0px #000, -1px 1px 0px #000;
  padding: 0;
  margin: 0 0 24px; }

#main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  background: url("../img/pattern.jpg") center;
  -webkit-box-shadow: inset 0 150px 250px -100px rgba(0, 0, 0, 0.5), inset 0 -150px 250px -100px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 150px 250px -100px rgba(0, 0, 0, 0.5), inset 0 -150px 250px -100px rgba(0, 0, 0, 0.5); }

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  max-width: 1120px;
  margin: 0 auto; }

.cats-food-item {
  position: relative;
  width: 320px; }
  .cats-food-item .card {
    position: relative;
    height: 435px;
    -webkit-border-radius: 0 0 10px 10px;
            border-radius: 0 0 10px 10px;
    background: #f2f2f2;
    border: 4px solid #1698d9;
    border-top: 0;
    padding: 16px 22px 0 45px;
    cursor: pointer;
    margin-top: 45px; }
    .cats-food-item .card:before {
      content: "";
      position: absolute;
      top: -45px;
      left: -4px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 46px 46px;
      border-color: transparent transparent #f2f2f2 transparent; }
    .cats-food-item .card:after {
      content: "";
      position: absolute;
      right: -4px;
      top: -45px;
      border: 4px solid #1698d9;
      border-left: 0;
      border-bottom: 0;
      width: 275px;
      height: 46px;
      -webkit-border-radius: 0 10px 0 0;
              border-radius: 0 10px 0 0;
      background: #f2f2f2;
      z-index: 1; }
    .cats-food-item .card .angle-line {
      position: absolute;
      top: -23px;
      left: -12px;
      width: 63.640px;
      height: 4px;
      background: #1698d9;
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg);
      z-index: 3; }
    .cats-food-item .card .subtitle {
      position: relative;
      font-size: 16px;
      color: #666;
      margin-bottom: 3px;
      margin-top: -29px;
      z-index: 10; }
    .cats-food-item .card .subtitle-selected-hover {
      position: relative;
      display: none;
      font-size: 16px;
      color: #e62e7a;
      margin-bottom: 3px;
      margin-top: -29px;
      z-index: 10; }
    .cats-food-item .card .title {
      font-size: 48px;
      font-weight: 700; }
    .cats-food-item .card .taste {
      font-size: 24px;
      line-height: 24px;
      font-weight: 700;
      margin-bottom: 15px; }
    .cats-food-item .card .portions, .cats-food-item .card .present, .cats-food-item .card .more {
      font-size: 14px;
      line-height: 15px;
      color: #666; }
      .cats-food-item .card .portions .count, .cats-food-item .card .present .count, .cats-food-item .card .more .count {
        font-weight: 700;
        margin-right: 4px; }
    .cats-food-item .card .image {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 260px;
      height: 260px;
      -webkit-border-radius: 0 0 0 10px;
              border-radius: 0 0 0 10px;
      z-index: 1; }
    .cats-food-item .card .weight {
      position: absolute;
      bottom: 11px;
      right: 11px;
      width: 81px;
      height: 81px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      background: #1698d9;
      color: #fff;
      text-align: center;
      z-index: 2; }
      .cats-food-item .card .weight .count {
        font-size: 42px;
        margin-top: 6px; }
      .cats-food-item .card .weight .measure {
        font-size: 21px;
        line-height: 16px; }
    .cats-food-item .card:hover {
      border-color: #2ea8e6; }
      .cats-food-item .card:hover .angle-line {
        background: #2ea8e6; }
      .cats-food-item .card:hover:after {
        border-color: #2ea8e6; }
      .cats-food-item .card:hover .weight {
        background: #2ea8e6; }
  .cats-food-item .status {
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    margin-top: 14px;
    color: #fff;
    text-shadow: 1px 1px 0px #000, -1px 1px 0px #000; }
    .cats-food-item .status > div {
      display: none; }
    .cats-food-item .status .status-default {
      display: inline; }
    .cats-food-item .status .select-card {
      display: inline-block;
      color: #1698d9;
      text-decoration: none;
      border-bottom: 1px dashed;
      line-height: 13px; }
      .cats-food-item .status .select-card:hover {
        color: #2ea8e6;
        border-bottom: 0; }
  .cats-food-item.selected .card {
    border-color: #d91667; }
    .cats-food-item.selected .card .angle-line {
      background: #d91667; }
    .cats-food-item.selected .card:after {
      border-color: #d91667; }
    .cats-food-item.selected .card .weight {
      background: #d91667; }
  .cats-food-item.selected .status > div {
    display: none; }
  .cats-food-item.selected .status .status-selected {
    display: inline; }
  .cats-food-item.selected.selected-hover .card:hover {
    border-color: #e62e7a; }
    .cats-food-item.selected.selected-hover .card:hover .angle-line {
      background: #e62e7a; }
    .cats-food-item.selected.selected-hover .card:hover:after {
      border-color: #e62e7a; }
    .cats-food-item.selected.selected-hover .card:hover .subtitle {
      display: none; }
    .cats-food-item.selected.selected-hover .card:hover .subtitle-selected-hover {
      display: block; }
    .cats-food-item.selected.selected-hover .card:hover .weight {
      background: #e62e7a; }
  .cats-food-item.disabled .card {
    cursor: default;
    border-color: #b3b3b3; }
    .cats-food-item.disabled .card .angle-line {
      background: #b3b3b3; }
    .cats-food-item.disabled .card:after {
      border-color: #b3b3b3; }
    .cats-food-item.disabled .card .subtitle, .cats-food-item.disabled .card .title, .cats-food-item.disabled .card .taste, .cats-food-item.disabled .card .portions, .cats-food-item.disabled .card .present, .cats-food-item.disabled .card .more {
      color: #b3b3b3; }
    .cats-food-item.disabled .card .image {
      -webkit-filter: opacity(50%);
              filter: opacity(50%); }
    .cats-food-item.disabled .card .weight {
      background: #b3b3b3; }
  .cats-food-item.disabled .status > div {
    display: none; }
  .cats-food-item.disabled .status .status-disabled {
    display: inline;
    color: #ffff66; }

@media (max-width: 1199px) {
  #main {
    padding: 40px 0; }
  .container {
    max-width: 800px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .container .cats-food-item {
      margin: 0 40px 80px; }
      .container .cats-food-item:last-of-type {
        margin: 0 40px; } }

@media (max-width: 544px) {
  .container .cats-food-item {
    margin: 0 0 80px; }
    .container .cats-food-item:last-of-type {
      margin: 0; } }
